{% extends 'base.html' %}
{% block title %} Contato {% endblock %}
{% block content %}

<div class="container">
    <h1>CONTATO</h1>
    <hr>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut enim in ipsum finibus gravida ut eget metus. In et suscipit sapien. Sed sed tincidunt nibh. Sed in tortor metus. Etiam gravida tortor nec ligula cursus pulvinar. Sed fringilla tellus non viverra feugiat. Proin lacinia semper orci maximus efficitur.
    </p>
    <h6>E-mail: lojaroupas@gmail.com</h6>
    <h6>Telefone: (11) 99999-9999</h6>
</div>


{% endblock %}